<div class="row">
  <div class="d-flex flex-column">
    <%#= image_tag 'placeholder.png', alt: "profile photo", class: 'avatar' %>
    <span class="name">Chae Shin</span>
    <%# <span class="job-title">Full-Stack Engineer</span> %>
  </div>
</div>
