<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex flex-wrap">
        <div style="color: #3b8586", class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "chaewanshin@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div style="color: #3b8586", class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/chaeshin", target: '_blank', class: 'logo button-social-link' %>
        </div>
        <div style="color: #3b8586", class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/chae-shin/", target: '_blank', class: 'logo button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
