<div class="row">
  <div>
    <div>
      <div id="about">
        <h2>About</h2>
        <p>I'm ....</p>
      </div>
      <!-- Social Links Section -->
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
