<div>
  <div class="d-flex flex-column custom-margin">
    <span class="section-name">About</span>

    <span class="section-name custom-margin2">Web Development Projects</span>
    <% project_names = [ 'Your Perfect Travel Itinerary', 'Form-Calisthenics App', 'Turbo-Sports Car Rental']  %>
    <% project_names.each_with_index do |name, i| %>
      <% index = "#{(i+1)}".rjust(3, '0') %>
      <span class="project-name"><%= "#{index} | #{name}"%></span>
    <% end %>
    <span class="section-name custom-margin2">Daily Coding</span>
    <% daily_names = [ 'coming soon' ] %>
  </div>
</div>
