  <div class="d-flex flex-column">
    <!-- Banner Section -->
    <%= partial 'partials/banner' %>
    <!-- About Section -->
    <%= partial 'partials/menu' %>
    <!-- Social Links Section -->
    <%= partial 'partials/social' %>
  </div>
