// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Define fonts for body and headers
$body-font: "Source Sans 3";
$headers-font: "Source Serif  4";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


.project-name {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 250;
  color: #3b8586;
  text-decoration: none;

  &:hover {
    color: #3b8586b0;
  }
}

.name {
  font-family: "Source Serif 4", serif;
  color: #3b8586;
  font-size: 36px;
  font-style: Italic;
  font-weight: 250;
  margin-left: 20px;
  text-decoration: none;

  &:hover {
    color: #3b8586b0;
  }
}

.project-name-with-links{
  width: 80%;
}

.project-name-heading {
  font-family: "Source Serif 4", serif;
  color: #3b8586;
  font-size: 36px;
  font-style: Italic;
  font-weight: 250;
}

.job-title {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  margin-left: 12px;
  font-weight: 250;
}

.no-flex {
  display: inline-block;
  align-self: flex-start; /* Prevents stretching to the container’s full width */
}

.section-name {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 250;
  background-color: #3b85861f;
  text-decoration: none;
  display: inline-block;
}

.about {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 250;
  background-color: #3b85861f;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: #3b8586b0;
  }
}

.project-descriptions {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  // margin-left: 20px;
  font-weight: 250;
  // margin-bottom: 12px;
  background-color: #3b85861f;
  text-decoration: none;
  display: inline-block;
}

.project-link-text {
  display: block; /* Places the text on a new line */
  margin-top: 10px; /* Adds some space between the iframe and the link */
  color: #3b8586; /* Adjust link color */
  text-decoration: none; /* Optional: Remove underline */
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 250;
}

.project-link-text {
  display: block; /* Places the text on a new line */
  margin-top: 10px; /* Adds some space between the iframe and the link */
  color: #3b8586; /* Adjust link color */
  text-decoration: none; /* Optional: Remove underline */
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 250;

  &:hover {
    color: #3b8586b0;
  }
}

.paragraph {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  font-weight: 250;
  white-space: pre-line;
  width: 80%;
}

.custom-margin2 {
  margin-top: 60px;
}

.custom-margin{
  margin-top: 80px;
}

.custom-margin12{
  margin-top: 12px;
}

.custom-margin-bottom{
  margin-bottom: 150px;
}

.custom-margin40 {
  margin-top: 40px;
}

.custom-margin80 {
  margin-top: 80px;
}

.custom-margin-right {
  margin-right: 20%;
}
