// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

// Define fonts for body and headers
$body-font: "Source Sans 3";
$headers-font: "Source Serif  4";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


.project-name {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  margin-left: 12px;
  font-weight: 250;
  color: #3b8586;
  text-decoration: none;
}

.name {
  font-family: "Source Serif 4", serif;
  color: #3b8586;
  font-size: 36px;
  font-style: Italic;
  font-weight: 250;
  margin-left: 12px;
}



.project-name-heading {
  font-family: "Source Serif 4", serif;
  color: #3b8586;
  font-size: 36px;
  font-style: Italic;
  font-weight: 250;
}

.job-title {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  margin-left: 12px;
  font-weight: 250;
}

.no-flex {
  display: inline-block;
  align-self: flex-start; /* Prevents stretching to the container’s full width */
}

.section-name {
  font-family: "Source Sans 3", sans-serif;
  color: #3b8586;
  font-size: 16px;
  margin-left: 12px;
  font-weight: 250;
  background-color: #3b85861f;
  text-decoration: none;
  display: inline-block;
}

.paragraph {
  font-family: "Source Serif 4", serif;
  color: #3b8586;
  font-size: 16px;
  font-weight: 250;
  white-space: pre-line;
}

.custom-margin2 {
  margin-top: 60px;
}

.custom-margin{
  margin-top: 80px;
}

.custom-margin12{
  margin-top: 12px;
}
