<div class="row sidebar">
  <div class="col-4 d-flex flex-column">
    <!-- Sidebar Section -->
    <%= partial 'partials/sidebar' %>
  </div>
  <div class="col-8 d-flex flex-column">
    <!-- Projects Section -->
    <%= partial 'partials/project' %>
  </div>
</div>
